// Colors
$color-purple-marsala: #965251;

$color-yellow-metallic-gold: #D4AF37;

$color-gray-very-light: #CCCCCC;
$color-gray-white-smoke: #F3F3F3;
$color-gray-eclipse: #404040;

$color-black: #000000;
$color-white: #FFFFFF;

// menu
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;
