@import '00-vars';

.card {
    width: 100%;
    // margin: 0 auto;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 1em 0;

    @media (min-width: 767px) {
        width: 390px;
    }

    &--dark {
        background-color: $color-gray-very-light;
    }

    &--desktop {
        display: none;

        @media (min-width: 767px) {
            display: block;
        }
    }

    &__image {
        width: 100%;
        position: relative;
        margin-bottom: -1%;
        z-index: 2;

        -webkit-transition: z-index 0s 0.2s;
        -moz-transition: z-index 0s 0.2s;
        -ms-transition: z-index 0s 0.2s;
        -o-transition: z-index 0s 0.2s;
        transition: z-index 0s 0.2s;

        &--small {
            width: 67.5%;
            margin: 0 auto;
        }

        amp-img  {
            width: 100%;
        }
    }

    &__content {
        position: relative;
        margin-top: -5%;
    }

    &__text {
        background-color: $color-white;
        margin-top: 5%;
        padding: 5%;

        overflow: hidden;
    }

    &__title {
        color: $color-purple-marsala;
        font-size: 25px;
        line-height: 0px;
    }

    &__description {
        color: $color-purple-marsala;
        font-size: 18px;
        line-height: 25px;
    }

    &__footer {
        color: $color-purple-marsala;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        font-style: italic;
    }

    &__button {
        cursor: pointer;
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        color: $color-white;
        background-color: $color-purple-marsala;
        position: absolute;
        right: 4%;
        top: -30px;
        z-index: 3;

        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        transition-duration: 0.2s;

        i {
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -ms-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
    }
}
