@import '00-vars';

.deck {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;

    @media (min-width: 767px) {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0 7%;
        margin-top: 1em;

        &:after {
            content: '';
            width: 100%;
        }
    }

    &__title {
        font-family: 'Roboto',sans-serif;
        font-size: 2rem;
        line-height: 0.8;
        text-align: left;
        font-weight: 500;
        color: $color-gray-eclipse;
    }
}
