@import '00-vars';

.header {
    position: relative;

    &__focal-point  {
        width: 100%;
        height: auto;
        overflow: hidden;

        div {
            position: relative;
            max-width: none;
            height: auto;
        }
    }

    @media all and (max-width: 767px) {

        &__focal-point {
            div {
                margin: -3em -4em;
            }

            /* Landscape up (Total 6em) */
            &--up-3 div {
                margin-top:    -1.5em;
                margin-bottom: -4.5em;
            }

            &--right-3 div {
                margin-left:  -6em;
                margin-right: -2em;
            }
        }
    }

    &__image {
        max-height: 850px;
        width: 100%;
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic;
    }

    &__nav {
        // font-family: 'Raleway',sans-serif;
        font-family: 'Roboto',sans-serif;
        display: none;

        ul {
            list-style: none;
            list-style-image: none;
            margin: 0px;
        }

        li {
            float: left;
            margin: 0 0 0 50px;

            &:first-child {
            	margin:0;
            }
        }

        a {
            display: block;
            color: $color-white;
            padding: 5px;
            text-decoration: none;

            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;

            p {
                text-transform: lowercase;
                color: $color-gray-very-light;
                text-shadow: $color-gray-eclipse 2px 2px 2px;
                font-size: 0.8em;
                font-weight: 300;
                margin-top: 0px;

                &:first-child {
                    text-transform: uppercase;
                    color: $color-white;
                    font-size: 1.25em;
                    font-weight: 700;
                    margin-bottom: 0px;
                }
            }

            &:hover p {
                color: $color-yellow-metallic-gold;
                text-shadow: $color-gray-eclipse 2px 2px 2px;

                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
            }
        }

        @media (min-width: 767px) {
            display: block;
            position: absolute;
            right: 7%;
            top: 5%;

            &--fixed {
                height: 100px;
                background: black;
                position: fixed;
                width: 100%;
                right: initial;
                top: 0px;
            }
        }
    }

    &__title {
        font-family: 'Parisienne',sans-serif;
        // font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-size: 4rem;
        position: absolute;
        left: 15px;
        bottom: 30px;
        margin-bottom: 0px;
        line-height: 0.8;
        text-align: left;
        text-shadow: $color-gray-eclipse 2px 2px 2px;
        font-weight: 500;
        color: $color-white;

        @media (min-width: 767) {
            font-size: 5rem;
            left: 7%;
            bottom: 15%;
        }

        @media (min-width: 1024px) {
            font-size: 6rem;
        }

        @media (min-width: 1280px) {
            font-size: 8rem;
        }

        @media (min-width: 1440px) {
            font-size: 9rem;
        }
    }
}
